<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
      <%= render @publication %>

      <% if user_signed_in? %>
        <% if current_user.id == @publication.user_id %>
          <div class="btn-group" role="group">
            <%= link_to "Editar Publicación", edit_publication_path(@publication), class: "btn btn-primary mr-2" %>
            <%= button_to "Borrar publicación", @publication, method: :delete, class: "btn btn-danger", data: { confirm: "¿Estás seguro?" } %>
          </div>
        <% end %>
      <% end %>
      <h2>Comentarios</h2>
      <% @publication.comments.each do |comment| %>
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title"><%= comment.user.email %></h5>
            <p class="card-text"><%= comment.content %></p>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= form_with(model: [@publication, Comment.new], class: "mb-4") do |form| %>
          <div class="form-group">
            <%= form.text_area :content, placeholder: "Escribe tu comentario aquí", class: "form-control" %>
          </div>
          <%= form.submit "Comentar", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <p>Inicia sesión para agregar un comentario.</p>
      <% end %>

      <%= link_to "Volver a las publicaciones", publications_path, class: "btn btn-secondary mt-3" %>
      <div>
        <%= render 'reactions/options' %>
      </div>
    </div>
  </div>
</div>
</div>
